:root {
    /* COLORS */
    --primary: #1D1E26;
    --primary-blur: rgba(29, 30, 38, 0.93);
    --secondary: #5E35F2;
    --hover: #8C5CF2;
    --composite: #ff2ca0;
    --composite-blur: rgba(255, 44, 160, 0.93);
}

.primary {
    background-color: var(--primary);
    color: #fff;
}

.primary-blur {
    background-color: var(--primary-blur);
    color: #fff;
}

.secondary {
    background-color: var(--secondary);
    color: #fff;
}

.btn-primary {
    background-color: var(--composite) !important;
    color: #fff !important;
    box-shadow: 0 0 0 0 !important;
    border: 0 none !important;
    transition: .3s ease;
}

.btn-primary:hover {
    background-color: var(--composite-blur) !important;
    color: #fff !important;
    box-shadow: 0 0 0 0 !important;
    border: 0 none !important;
}

.btn-outline-primary {
    background-color: transparent !important;
    border: 1.5px solid var(--composite) !important;
    color: var(--composite) !important;
    transition: .3s ease;
}

.btn-outline-primary:hover {
    background-color: var(--composite) !important;
    color: #fff !important;
}

.btn-light {
    background-color: transparent !important;
    color: #fff !important;
    box-shadow: 0 0 0 0 !important;
    border: 0 none !important;
    transition: .3s ease;
}

.btn-light:hover {
    background-color: rgba(250, 250, 250, 0.17) !important;
    color: #fff !important;
    box-shadow: 0 0 0 0 !important;
    border: 0 none !important;
}

.bold {
    font-weight: bold;
}